* {
    background-color: beige;
    margin: 0;
    padding: 0;
}

ul {
    border: 1px solid red;
    list-style: none;
    padding: 10px;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    width: 80vw;
    display: flex;
    /* flex-direction: row-reverse; */
    /* justify-content: space-around; */
    /* flex-wrap: nowrap; = default*/
    /* flex-wrap: wrap; */
    /* height: 90vh; */
    /* align-items: center;
    justify-content: center; */
    /* align-content: center; */
}

li {
    background-color: gray;
    padding: 10px;
    margin: 5px;
    font-size: 2rem;
    /* flex-grow: 1; */
    /* flex-shrink: 1; */
}

.grow {
    background-color: pink;
    color: white;
    flex-grow: 1;
}