* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

.block {
    background-image: url('../images/block.jpg');
    width: 200px;
    height: 60px;
    position: relative;
}

#block1 {
    left: 30px;
}

#block2 {
    left: 15px;
}

#block3 {
    left: 0;
}

#block4 {
    left: 30px;
}

#block5 {
    left: 5px;
}

#block6 {
    left: 15px;
}

#text {
    width: 196px;
    border: 2px solid black;
    margin: 0;
}