@media screen and (max-width: 800px) {
    header {
        flex-direction: column;
    }
    .logo {
        text-align: center;
    }
    .block {
        display: block;
    }
    .four-columns {
        display: block;
        /* width: 100%;
        margin: 0 auto; */
    }
    .caption {
        /* flex: 1 1 100%; */
        flex: unset;
    }
}