/* overall */

* {
    padding: 0;
    margin: 0;
}

.container {
    width: 70%;
    margin: auto;
    font-family: "Montserrat", sans-serif;
}

h1,
h2 {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
}


/* header */

header {
    background-color: #fbc43e;
    color: #ffffff;
}

h1 {
    font-size: 5rem;
}

h3 {
    font-size: 1.5rem;
    padding: 15px 0;
}

h5 {
    text-transform: uppercase;
    letter-spacing: 2px;
}

.text {
    padding: 50px;
}

.bc-image {
    background-image: url(../img/border.png);
    background-size: 58px;
    height: 40px;
}


/* main */

h2 {
    font-size: 3rem;
}

.right {
    background-color: #fbc43e;
    color: #ffffff;
    display: flex;
    align-items: stretch;
    text-align: right;
}

.left {
    color: #fbc43e;
    display: flex;
    align-items: stretch;
}

.content {
    /* flex-grow: 9; */
    width: 80%;
    padding: 20px 40px;
}

.dotted {
    background-image: url(../img/dot2.png);
    background-size: 105%;
    /* flex-grow: 1; */
    width: 20%;
    padding: 10px;
}


/* footer */

.links {
    background-color: #fbc43e;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 1.3rem;
    text-align: center;
    padding: 30px 0;
}

.source {
    text-align: center;
    padding: 15px 0;
}

.source a {
    color: #fbc43e;
    font-size: 1.1rem;
}