* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

* {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body {
    background-color: white;
}

.wrapper {
    color: grey;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

header {
    background-color: black;
    color: white;
    padding: 1rem;
}

nav {
    text-align: right;
    color: white;
}

nav a {
    color: white;
}

main {
    width: 75%;
}

aside {
    background-color: grey;
    width: 25%;
}

.flex {
    display: flex;
}

.fifty {
    width: 50%;
}

.img-responsive {
    max-width: 100%;
    height: auto;
}

p {
    margin-bottom: 1rem;
}