body{
	margin: 0;
	padding: 0;
	outline: 0;
	border: 0;
}

/* --- oef1 --- */


/* --- oef2 --- */


/* ----------------- */

#devide{
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 24px;
	color: #666;
	/*line-height: 98px;*/
}